## Practice Project : GDP Data Extraction & Processing

In [1]:
#Installing the required packages
#!pip install pandas numpy
#!pip install lxml

In [8]:
# Importing the packages
import numpy as np
import pandas as pd

def warn(*args, **kwargs): 
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

### Exercises 1

In [9]:
# Extract the required GDP data from the given URL using web Scraping

url = "https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

In [19]:
# Extract tables  from webpage using Pandas, Ratain table number 3 as the required dataframe
table = pd.read_html(url)
df = table[3]

# Replace the column header with column number
df.columns = range(df.shape[1])

# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
df = df[[0, 2]]

# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world.
df = df.iloc[1:15, :]

# Assign column names as "Country" and "GDP (Million USD)"
df.columns = ['Country','GDP (Million USD)']

### RWE : Real World Excersice 1

In [20]:
# Extract info from webpage 
url_2 = "https://en.wikipedia.org/wiki/List_of_countries_by_past_and_projected_GDP_(nominal)"

# Read the webpage
table_exports = pd.read_html(url_2)

# Assign the dataframe to table 1 on the webpage
df_2 = table_exports[1]

# Renames column in the dataframe and column numbers
df_2.columns = range(df_2.shape[1])

# Ratain columns with index 0 and 2
df_2 = df_2[[0, 3]]

# Retain the Rows with index 1 to 10
df_2 = df_2.iloc[1:15,:]

# Assigns column names in the dataframe
df_2.columns = ['Country', 'GDP (Country)']

# Display table
print(df_2)

                Country  GDP (Country)
1               Albania         2296.0
2               Algeria        48599.0
3               Andorra            NaN
4                Angola         6214.0
5   Antigua and Barbuda          164.0
6             Argentina        94250.0
7               Armenia            NaN
8                 Aruba            NaN
9             Australia       187087.0
10              Austria        70111.0
11           Azerbaijan            NaN
12              Bahamas         3031.0
13              Bahrain         4264.0
14           Bangladesh        24678.0

### Excerise 2

In [28]:
# Change the data type of the 'GDP (Million USD)' column to integer. Use astype() method.
df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)

# Convert the GDP value in Million USD to Billion USD
df[['GDP (Million USD)']] = df[['GDP (Million USD)']]/1000

# Use numpy.round() method to round the value to 2 decimal places.
df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']], 2)

# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)'
df.rename(columns = {'GDP (Country)' : 'GDP (Country)'})

     Country  GDP (Million USD)
1   26854599           26854.60
2   19373586           19373.59
3    4409738            4409.74
4    4308854            4308.85
5    3736882            3736.88
6    3158938            3158.94
7    2923489            2923.49
8    2169745            2169.74
9    2089672            2089.67
10   2081235            2081.24
11   2062649            2062.65
12   1721909            1721.91
13   1707548            1707.55
14   1663164            1663.16

### Exercise 3

In [13]:
# Load the DataFrame to the CSV file named "Largest_economies.csv"
df.to_csv('./Largest_economies.csv')

### RWE : 3

In [15]:
# Load the DataFrame to the CSV file named "Country GDP.csv"
df_2.to_csv('./Country_GDP')

In [48]:
# Change the data type of the 'Country' column to float. Use astype() method.
df_2['Country'] = df_2['GDP (Country)'].astype(float)

# Use numpy.round() method to round the value to 2 decimal places.
df_2[['Country']] = np.round(df_2[['GDP (Country)']], 2)

# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)'
df_2.rename(columns = {' Country' : 'GDP (Country)'})

# Removes the NaNa from df_2 using dropna
df_2.dropna(axis=0,how='all',inplace=False)

     Country  GDP (Country)
1     2296.0         2296.0
2    48599.0        48599.0
4     6214.0         6214.0
5      164.0          164.0
6    94250.0        94250.0
9   187087.0       187087.0
10   70111.0        70111.0
12    3031.0         3031.0
13    4264.0         4264.0
14   24678.0        24678.0