## Selecting data in a Dataframe

In [1]:
# importing the pandas Library 
import pandas as pd

In [2]:
# Define a dictionary 'xdic'

xdic = {"Name:": ['Rose','John','Jane','Mary'],'ID': [1,2,3,4,], 'Department':['Architect Group','Software Group','Deign Team', 'Infrastructure'], 
        'Salary': [1000000, 80000, 50000, 60000]}

# casting the dictiionary to a dataframe
# panda.dataframe 
df = pd.DataFrame(xdic)


# display the results of df
df

  Name:  ID       Department   Salary
0  Rose   1  Architect Group  1000000
1  John   2   Software Group    80000
2  Jane   3       Deign Team    50000
3  Mary   4   Infrastructure    60000

#### Column Selection

In [3]:
# Retrieving the 'ID' column and assigning it to a variable 

xdic = df[['ID']]
xdic

   ID
0   1
1   2
2   3
3   4

In [4]:
# checking the type function for dictionary 

type(xdic)

pandas.core.frame.DataFrame

#### Access to Multiple Column

In [5]:
# Retrieving the Department, Salary and ID column and assigning it to a variable 'zdic'

zdic = df[['Department','Salary','ID']]
zdic

        Department   Salary  ID
0  Architect Group  1000000   1
1   Software Group    80000   2
2       Deign Team    50000   3
3   Infrastructure    60000   4

### Try Yourself

In [9]:
# Promblem 1: Create a dataframe to display the results as below

x_dic = {'Student' : ['David','Samuel','Terry', 'Even'],
         'Age' :[27,24,22,32],
         'Country' :['UK','Canda','China','USA'],
         'Course': ['Python','Data Structures',
         'Machine Learning','Web Development'],
         'Marks' : [85,72,89,76]}

df1 = pd.DataFrame(x_dic)
df1

  Student  Age Country            Course  Marks
0   David   27      UK            Python     85
1  Samuel   24   Canda   Data Structures     72
2   Terry   22   China  Machine Learning     89
3    Even   32     USA   Web Development     76

In [10]:
# Problem 2 : Retreive the Marks column and assign it to  a variable 'b'

b = df1[['Marks']]
b

   Marks
0     85
1     72
2     89
3     76

In [11]:
# Retrieve the Country and Course column and assignn it to a variable 'c'

c = df1[['Country','Course']]
c

  Country            Course
0      UK            Python
1   Canda   Data Structures
2   China  Machine Learning
3     USA   Web Development

In [13]:
# Viewing the column as a series   

xsec = df1['Student']
xsec

0     David
1    Samuel
2     Terry
3      Even
Name: Student, dtype: object

In [14]:
# Check the type of xsec

type(xsec)

pandas.core.series.Series

### Excercise 2 : Loc() and iLoc() Fuctions

In [15]:
# Accesss the value on the first row and the first column 

df1.iloc[0:0]

Empty DataFrame
Columns: [Student, Age, Country, Course, Marks]
Index: []

In [17]:
# access row 1 column 1
df1.iloc[0:1]    # [ Column : Row]

  Student  Age Country  Course  Marks
0   David   27      UK  Python     85

In [19]:
# Access the column using name
df1.loc[0:'Salary']

  Student  Age Country            Course  Marks
0   David   27      UK            Python     85
1  Samuel   24   Canda   Data Structures     72
2   Terry   22   China  Machine Learning     89
3    Even   32     USA   Web Development     76

In [42]:
# Create a new dataframe called 'df2' and assign df to it.
# Now, let us set the 'Name' column as an index column using the method set_index()

df2 = df
df2 = df2.set_index('Name')

In [29]:
# Display the first 5 row of a new dataframe

df2.head()

  Name:  ID       Department   Salary
0  Rose   1  Architect Group  1000000
1  John   2   Software Group    80000
2  Jane   3       Deign Team    50000
3  Mary   4   Infrastructure    60000

In [45]:
# Acesssing column using the name

df2.loc[2 :'Salary']

  Name:  ID      Department  Salary
2  Jane   3      Deign Team   50000
3  Mary   4  Infrastructure   60000

In [52]:
# use the loc()

df2.loc['Name','Department']

Empty DataFrame
Columns: [Name:, ID, Department, Salary]
Index: []

In [50]:
#using iloc()

df2.iloc[3,2]

'Infrastructure'

### Slicing

In [55]:
df.loc[2:3,'Name':'Department'] # type : ignore

KeyError: 'Name'